body {
	margin: 0;
	background-color: #000;
}

button {
  background: green;
  display: block;
  color: white;
  width: 180px;
  padding: 4px 0;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  border-radius: 3px;
}

button:hover {
    cursor: pointer;
}

canvas {
	display: block;
   width: 100%;
   height: 100%;
}